<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        <nav>
            <div class="nav-brand">WP-RMM</div>
            <ul class="nav-menu">
                <li><a href="/">Dashboard</a></li>
            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <script src="/assets/js/app.js"></script>
    </body>
</html>